@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    background-color: white;
    font-family: 'Quicksand', sans-serif
}

.box{
    display: flex;
    justify-content: center;
    align-items:center;
}

#titolo, #titolo1{
    text-align: center;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}


th{
    background-color: #172A3A;
    color: white;
}

tr:nth-child(odd){
    background-color: lightblue;
}

tr:nth-child(even){
    background-color: lightskyblue;
    color: black;
}

.numeri{
    width: 200px;
    text-align: center;
}

.autori{
    margin-top: -20px;
}

