@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body{
  font-family: 'Quicksand', sans-serif !important;
    color: black;
  /*color: #ffffff !important;*/
}



.navbar-brand{
  /*font-family: 'B612', sans-serif */
  font-family: 'Oswald', sans-serif !important;;
  font-size: 2.5rem !important;
  color: #ffffff !important;
}

.navbar-collapse{
  flex-grow:0 !important;
}



.nav-item{
  padding-top:0;
  padding-left:2rem;
  padding-right:0.5rem;
}

/* Questo serve per tenere l'icona nella stessa riga del testo */
.indicator {
  display: flex;

}

/*login span class*/
.fas{
line-height: 1.5 !important;
padding-right:4px;
}


.textLogin{
  padding-left:2px;
}


.navbar{
  position: absolute;
  width:100%;
  z-index:10;
}

.nav-link{
  color:white !important;
  margin: 15px;
}



.nav-link:hover{
  color:#172A3A ;
}
.navbar-light, .navbar-toggler{
  color: rgba(0,0,0,0);

  border-color: rgba(0,0,0,0);

}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 2px solid #678393;
    color:#678393 !important;
}
nav ul{
list-style-type: none; /* removes the bullet-point that's common with ul elements */
    margin: 0;
    padding: 0;
    overflow: hidden
}
nav li a {
    background-color: transparent;
    border-bottom: 0px solid #ededed; /* will be animated-in on hover */
    border-top: 0px solid #678393; /* will be animated-in on hover */
    transition: border 200ms; /* the transition is applies to the border only, at a speed of 200ms */
    display: table-cell; /* this, as well as the vertical-align, ensures text is vertically centered every time inside the nav buttons*/
    vertical-align: middle;
}

.search-bar{
  width: 100%;
}

.offcanvas-header{
  display: none;
}

@media only screen and (max-width:992px ){
  .offcanvas-header{
    display: block;
  }
  .navbar-toggler{
    font-size:1rem !important;
  }

  .navbar-collapse{
    position: fixed;
    top:0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility:hidden;
    background-color: #000;
    transition:visibility .2s ease-in-out;
  }
  .navbar-collapse.show{
    visibility: visible;
    transform:translateX(-100%);
    width: 50%;
  }
  .btn-close{
    background-color: transparent;
    border-color: transparent;
    color:white !important;
    font-size:22px;

  }

  ul {
    padding-left:1rem;
  }


#login{
margin-top: 10rem ;
padding-left: 8px;
}
#indicatorLogin{

}


}


#matIcon{
  margin-right: 3px;
}

#login{
  border: 3px solid white;
  border-radius: 20px;
    color: white !important;
}

#login:hover{
  background-color: #172A3A;
/*  border: 0px solid rgba(21, 63, 177, 0.9);*/
  color: white !important;
}


#conteinerMenu{
  background-color:#74B3CE;
  height:24rem;
  border-bottom:1px solid white;
  box-sizing: border-box;
}




#dateInput{
 height:100%;
 border-radius:0;
 border:0;
 padding:0.5rem 0.5rem;
background-color:#F0FFFF;
}

#barSearch{
  background-color: #508991;
  box-shadow:none !important;
  border-radius: 10px;
  color: white;
}


@media(max-width: 576px) {
#conteinerMenu{
  height:35rem;
}


#secondFlexBox{
  display: block !important;
}

.row > *
{
  width:80% !important;
}


.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {

    flex-wrap: nowrap !important;

}

#barSearch{
  margin-top:1.5rem; 
}



    }



.btn{
  display:inline-block;
  text-align:center;
    transition: all 0.2s;
  background-color: #172A3A !important ;
  color: #ffffff !important;
}

/*
.wrapper{
  overflow: hidden;
}

#firstCal {

    float:left;

}
#secondCal {

    overflow: hidden;  if you don't want #second to wrap below #first
}*/
#rangeID{
  border:none;
  padding-left:0.5rem;

 }
 .fa-calendar-alt
 {
   color:black;
 }
.daterange{
   height:100%;
   border-radius:4px;
   border:1px solid #dde3ed;
   padding:0.75rem 0.75rem;
  background-color: white;

}
.form-check-label{
  font-size: 75%;
}
.form-check-input{

  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  transform: scale(1.2);
  padding: 8px;

}

#TitoloRicerca{
 color: #172A3A;
 text-transform: uppercase;
 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
 position: relative;
 bottom: 580px;
 text-align: center;
}

#parResult{
  height: 25px;
  text-align: center;
  padding:0.5rem;
}

#noResult{
  height: 25px;
  text-align: center;
  padding:0.5rem;
}

#errorLogin{
  color: red !important;
}
