<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CONTATTI</title>

    <link rel="stylesheet" type="text/css"  href="/css/styleUI.css">
    <link rel="stylesheet" type="text/css"  href="/css/N1.css">
    <link rel="stylesheet" href="/css/boot/bootstrap.css">
    <link href = "/css/contatti.css" rel = "stylesheet">
    <script src = "/javascripts/N1.js" language = "javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!--- JS FIle -->
    <script src="/javascripts/uidev.js"></script>
    <script src="/javascripts/N1.js"></script>

</head>

<body>
<div class="container-fluid" id="conteinerMenu"> 
  <nav class="navbar navbar-expand-lg navbar-light transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3000/">
        RentalSpartani.com
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-trigger="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="offcanvas-header mt-3">
          <button type="button" class="btn-close float-left"> <i class="fas fa-times"></i></button>
          <h5 class="text-white py-2" style="text-align:left">Menu</h5>
        </div>
        <ul class="navbar-nav">
          <% if(sessionVar.loggedin){ %>
            <li class="nav-item">
              <a class="nav-link"<%if(sessionVar.accountType=="Admin"){ %> href="/users/<%=sessionVar.username%>" <% }else{%>  href="/users/<%=sessionVar.username%>"  <%}%>  >Profilo</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/statistiche/">Statistiche</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contatti"><span class="indicator"><span class="material-icons" id="matIcon">call</span>Contatti</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="login"<% if(!sessionVar.loggedin){ %> onclick = "controllo()" <% }else{%> onclick = "logOutAdmin()" <%   } %>   ><span class="indicator" id="indicatorLogin"><i class="fas fa-user-circle"></i> <span class="textLogin">
                <% if(sessionVar.loggedin){ %>
                  <%=   sessionVar.username; %>
                  <% }else { %>
                    Accedi <% } %>
                  </span></span></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="popup">
        <div class = "contenutoPop">
          <form action="login" method="POST" id="formLogin">
            <div class="rightCross">
              <img src = "/img/Croce.png" alt = "croceRossa" width = "20px" height = "20px" class = "close" onclick = "chiusuraLoginNoHome()">
            </div>
            <img src = "/img/User.png" alt = "ImmagineUser" id = "imgUser">
            <input type="username" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="usernameHelp" placeholder="Enter username" required>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
            <div id="errorLogin" class="form-text text-muted"></div>
            <div class="alert alert-danger" role="alert" id="errorLogin" style="display: none; "></div>
            <br>
            <button type="submit" class="btn" id = "btnLogin">LOGIN</button>
            <a href="../register/register"><small>Registrati</small> </a>
          </form>
        </div>
      </div>
      <div class="popup2" id="pop2">
        <!--- Pop-up code -->
        <div class = "contenutoPop2">
          <form action="logout" method="POST" id="formLogOut">
            <div class="titlePop">Sei sicuro di voler effetuare il log-out? </div>
            <button type="submit" class="btn" id = "btnLogOut">Certo</button>
            <button type="button" class="btn" onclick = "closePopUpNoHome()"> Indietro </button>
          </form>
        </div>
      </div>
      <div class="container p-4 my-4 mx-auto" id="containerResult">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="container p-4 mx-auto">
              <h1 id = "titolo1" style="text-align: center;">CONTATTI</h1>
              <div class = "divContatti p-2" style = "width: 100%; height: 150px; text-align: center;">
                <div class = "realContatti my-4" style = "position: relative; top: 50%; transform: translateY(-50%);">
                  <p class = "autori">1) Linari Luca - email = luca.linari2@studio.unibo.it - NM = 0000900644</p>
                  <p class = "autori">2) Rossi Alessandro - email = alessandro.rossi61@studio.unibo.it - NM = 0000874901</p>
                  <p class = "autori">3) Zecchin Dario - email = dario.zecchin@studio.unibo.it - NM = 0000882583</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
      <!-- Footer -->
      <footer class=" text-center ">
        <!-- Grid container -->
        <div class="container p-4" id="footerDiv">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <!-- Google -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>
            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
          <!-- Section: Text -->
          <section class="mb-4">
            <p>L'assicurazione costa il 10% del totale e permette di evitare sanzioni qualora il guerriero sia restituito con dei danni fisici.</p>
            <p>Nel caso in cui il guerrero sia liberato con dei giorni di ritardo rispetto alla prenotazione verranno addebitati i costi dei giorni aggiuntivi e un 30% al giorno.</p>
          </section>
          <!-- Section: Text -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color:#74B3CE" id="lastFooter">
          © 2020 Copyright:
          <a class="text-dark" href="http://localhost:3000/">RentalSpartani.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </body>
    </html>
