body{
    margin: 0px;
    padding: 0px;

}

a{
    text-decoration: none !important;
}

.boxDiv{
    /* CAMBIARE QUA per media query */
    /* width: 300px; */
    width: 200px;
    height: auto;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.slide-img{
    /* altezza del div dell'img */
    height: 450px;
    position: relative;
}

/* guardare questi comandi per mettere a focus l'obiettivo di un immagine */
.slide-img img{
    /* CAMBIARE QUA per media query quando riducono la dimensione */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* significa che altezza e larghezza si applicano all'intero oggetto */
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    /* mette spazio tra elementi */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;


}

.type{
    display: flex;
    flex-direction: column;
}

.type a{
    margin: 5px 0px;
    padding-right: 8px;
}

.type span{
  /*  color:blueviolet;*/
}

.price{
  /*  color: green;*/
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* sfondo sfuocato */
    background-color: rgba(0,0,0,0.6);
    display: flex;
    /* mi sposta il bottone da in alto a sinistra a in alto al centro con justify-content: center;
    ATTENZIONE = justify-content = posso usarlo solo se ho display: flex */
    justify-content: center;
    /* centra del tutto il bottone */
    align-items: center;
}

/* meglio usare un tag <a> che posso modellare con width e height, al posto di usare un tag <button> */
.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #678393;
    color: #ffffff;
    border-radius: 20px;
}

.buy-btn:hover{
    background-color:#678393;

    transition: all ease 0.3s;
}

/* div che contiene il button */
.overlay{
    visibility: hidden;
}

/*
DA FARE
si può fare anche con un evento
JS che nel momento che ci sono sopra col
cursore, accedo allo style di overlay
e lo modifico in none.
*/
.slide-img:hover .overlay{
    visibility: visible;
    /* leggero effetto fade, ma si nota,
    mettere 3s se si vuol vedere bene. */
    animation: fade 0.7s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.sezione{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 576px){


    .boxDiv{
        width: 200px;
    }

    .slide-img img{
        width: 200px;
        height: 450px;
    }
}
